# Ignore virtual environment folder
env/
/env/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore configuration files
*.db
*.sqlite3

# Ignore IDE-specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore environment-specific settings
*.env

#ignore instance folder which contains the database file
instance/

#gitignore
/tcq/app/gitignore