<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
  
    <nav id="navbar" class="navbar navbar-expand-sm navbar-light">
      <a id="img-link" class="navbar-brand" href="#">
        <img src="/static/images/logo.png" alt="the cosmic quest logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle Navigation"
        id="toggler-button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="list-item">
            <a class="button-link" href="{{url_for('login.login')}}">
              <button id="button">Explore</button>
            </a>
          </li>
          <li class="list-item">
            <a class="button-link" href="{{url_for('signup.signup')}}">
              <button id="button">Login</button>
            </a>
          </li>
          <li class="list-item">
            <a class="button-link" href="{{url_for('signup.signup')}}">
              <button id="button">Signup</button>
            </a>
          </li>
        </ul>
      </div>
    </nav> 
    <br> <br>
  
    <div class="container-fluid">
      <div class="row">
        <div id="col1" class="col-lg-6 col-md-7 "><h1>
          <h1>UPDATES</h1>
          <h2>STARSHIP ON THE PATH TO RAPID REUSABILITY</h2>
          <p>Starship is designed to fundamentally alter humanity’s access to space, ultimately enabling us to make life multiplanetary. The third flight test of Starship and Super Heavy made tremendous strides towards this future and was an important step on the road to rapidly reliable reusable rockets.</p>
        
          <div id="button-div">  <a href="{{url_for('login.login')}}"><button>Learn more ></button></a></div>
        </div>
        <div id="col2" class="col-lg-6 col-md-5 "><h1>
          <img src="/static/images/spacex.png" alt="spacex starship image">
        </h1></div>
      </div> <br> <br>
      <div id="container2" class="conatiner ">
        <div class="row ">
          <div id="starshipcol1" class="col-lg-6 col-md-7 ">
            <div class="description">
              <h5 style=" margin-left: 15px; color: #fff; font-family: 'Orbitron';">JULY 29, 2024</h5> <br>
            <h1 style=" margin-left: 15px; color: #fff; font-family: 'Orbitron';">STARSHIP'S SONIC BOOM</h1> <br>
            <p>With each flight of Starship and the Super Heavy booster, <a id="link" href="https://www.spacex.com/">Spacex</a> gets closer to their goal of making life multiplanetary. The most important advancement to make this happen is full and rapid reusability of the entire launch system, operating Starship like an airplane which is fully and rapidly reusable after each flight. To do this, they have designed Starship’s upper stage and the Super Heavy booster to be capable of returning to the launch site. The returning vehicles will slow down from supersonic speeds, resulting in audible sonic booms in the area around the return location.</p> <br>
            <p>  A sonic boom is a brief, thunder-like noise a person on the ground hears when an aircraft or other object travels faster than the speed of sound. As a fast-moving object travels through the air, it pushes the air aside and creates a wave of pressure which eventually reaches the ground. The change in air pressure associated with a sonic boom, known as overpressure, increases only a few pounds per square foot. A person could experience a similar pressure change by riding down several floors in an elevator. What makes sonic booms audible is the quick speeds at which the pressure change occurs.</p>
            </div>
            <div id="spacex-button-div">
              <a target="_blank" href="https://www.spacex.com/updates/#eva-suit"><button>Learn more on Spacex's website ></button></a>
            </div>
          </div>
          <div id="video-container" class="col-lg-6 col-md-5 ">
             <div id="video-div"><video controls  id="sonicboom"  src="{{url_for('static', filename='videos/sonicboom.mp4')}}" type="video/mp4"></video></div>
          </div>
        </div>
      </div>
   
    <script src="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
"></script>
  </body>
</html>
