body{
  overflow-x: hidden;
  background-image: url("images/bgimg.webp");
  scroll-behavior: smooth;
}
#navbar{
  width: 100%;
  height: 150px;
  color: white;
  font-family: 'Orbitron';
}
#img-link{
  height: 150px;
  width: 25%;
}
#navbar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 #toggler-button, .navbar-toggler-icon{
  background-color: white;
  width: 50px;
  border: none;
  border-radius: 0%;
  color: white;
  margin-right: 10px;
}

#button{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
  border-bottom: 1px solid grey;
  color: #ffffff;
}
#button:hover{
  border: 2px solid white;
  transition: 1s ease;
  cursor: pointer;
}

@media(min-width: 575px){
  #button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: "Orbitron";
    margin-left: 5px;
  }
  #button:hover{
    border: 2px solid #ffffff;
    transition: 1s ease ;
    cursor: pointer;
  }
}

@media (max-width: 415px) {
  img{
    position: relative;
    left: 10px;
  }
}

#col1{
  height: 450px;
}
#col1 h1,p, #col1 h2{
  color: #ffffff;
  font-family: "Orbitron";
  margin: 20px;
}
#col1 h1{
  font-size: 50px;
}
#col1 button{
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "Orbitron";
  margin-left: 5px;

}
#col1 button:hover{
  border: 2px solid #ffffff;
  transition: 1s ease ;
  cursor: pointer;

}
#button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#col1 h2{
  font-size: 20px;
}
#col2{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#col2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width: 992px){
  #col1, #col2{
    height: 400px;
  }
  #col2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #col2 img{
    width: 80%;
    height: 80%;
  }
}
@media(max-width: 576px){
  #col1{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #col1 h1{
    font-size: 30px;
    position: relative;
    bottom: 40px;

  }
  #col1 h2{
    font-size: 15px;
    position: relative;
    bottom: 40px;
  }
  #col1 p{
    font-size: 10px;
    position: relative;
    bottom: 40px;
  }
  #col2{
    height: 300px;
   
  }
  #col2 img{
    width: 100%;
    height: 100%;
  }
}