body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/bgimg.webp');
  background-size: cover;
  background-position: center;
}
button{
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  position: relative;
  border: none;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;

}
button:hover{
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: 0.1s ease;

}
h1, p{
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;

}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 240px;
  width: 300px;
}
.logindetailsdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 500px;
  border: 1px solid white;
}
input[type="text"], input[type="password"]{
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  margin: 0;
  width: 350px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid white;
  
 
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}
input[type="submit"]{
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  

}
input[type="submit"]:hover{
  transition: 0.1s ease;
  cursor: pointer;
  border: 2px solid #ffffff;
}
.typing-effect {
  overflow: hidden; /* Hide overflowing content */
}

/* Add typing animation to each letter */
.typing-effect::before {
  content: 'Login...'; /* Add content to target */
  display: inline-block;
  width: 0;
  animation: typing 2s steps(10, end) forwards; /* Adjust duration and steps as needed */
}
.signupdiv{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
a{
  text-decoration: none;
}
.signupbtn{
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
}


/* Define typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

#errordiv{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#errordiv p{
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: red;
  font-size: 20px;
}
