<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <h1 class="typing-effect"></h1>
    <div class="logindetailsdiv">
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p class="usernamefield">{{ form.username }}</p>
        <p class="passwordfield">{{ form.password }}</p>
        {{form.submit}}
      </form>

      <p>Don't have an account?</p>
      <a href="{{url_for('signup')}}">
        <button>Signup</button>
      </a>
    </div>
  </body>
</html>
